In [2]:
a="hello world"
print(a)

hello world

In [7]:
print(type(a))

<class 'str'>

In [8]:
x=1.256
print(type(x))

<class 'float'>

In [9]:
y=int(x)
print(type(y))

<class 'int'>

In [10]:
x=25
y=10
x<y

False

In [11]:
x>y

True

In [12]:
print(type(x))

<class 'int'>

In [13]:
n=float(x)
print(n)

25.0

In [14]:
type(n)

float

In [15]:
m=str(y)
print(m)

10

In [16]:
type(m)

str

In [25]:
a=13
b=6
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)
print(a<b)
print(a>b)
print(a<=b)
print(a>=b)
print(a==b)
print(a!=b)
print(not a)
print(a)
print(a<=10 and a>=30)
print(a>=10 or a<=30)

19
7
78
2.1666666666666665
1
2
4826809
False
True
False
True
False
True
False
13
False
True

In [26]:
s="hello world i'm chitti"
if "f" in s:
    print("true")
else:
    print("false")

false

In [27]:
str1="sunil"
print("r"in str1)
print("u"not in str1)

False
False

In [33]:
n=int(input("enter any value: "))
if n%2==0:
    print("Even")
else:
    print("Odd")

enter any value: 656
Even

In [36]:
n=int(input("enter any number: "))
if n==0:
    print("Zero")
elif n>0:
    print("Positive")
elif n<0:
    print("Negative")

enter any number: -36
Negative

In [38]:
a="true"
b="false"
print(a and b)

false

In [1]:
i=1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [8]:
i=1
n=int(input("enter the value"))
while i<=n:
    print(i)
    i+=1

enter the value15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [1]:
i=1
s=0
n=int(input("enter the value: "))
while i<=n:
    if i%2==0:
        print(i)
        s+=i
    i+=1
print("sum of even numbers = ",s)

enter the value: 55
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
sum of even numbers =  756