# heading1
## heading2
### heading3
#### heading4
##### heading5
###### heading6

# python

In [6]:
print("JNTU Ananthapur")

JNTU Ananthapur

In [7]:
a = jntu
print(a)

NameError: name 'jntu' is not defined

In [9]:
a="jntu"
print(a)

jntu

In [10]:
a=17
print(a)

17

In [11]:
a=25.3265
print(a)

25.3265

In [12]:
a=52
b=63
print(a+b)

115

In [13]:
a=52
b=25
print(a-b)

27

In [25]:
a=2.36
b=1.38
print(a-b)
type(a)

0.98

float

In [24]:
type(a*b)

int

In [15]:
print(a+b)

3.7399999999999998

In [16]:
print(a*b)

3.2567999999999997

In [17]:
a=30
b=25
print("addition of a and b",a+b)
print("sbtaction of a and b",a-b)
print("multiplication of a and b",a*b)
print("division of a and b",a/b)

addition of a and b 55
sbtaction of a and b 5
multiplication of a and b 750
division of a and b 1.2

In [18]:
print("a%b")

a%b

In [19]:
type("a%b")

str

In [20]:
print(a%b)

5

In [21]:
type(a,b)

TypeError: type() takes 1 or 3 arguments

In [22]:
type(a)

int

In [23]:
type(b)

int

In [26]:
l=[2,5,6,3,4,8,]
type(l)

list

In [27]:
t=(4,4,4,)
type(t)

tuple

In [29]:
t=[4,5,6,8]
type(t)

list

In [30]:
type(l)

list

In [32]:
s={4,5,6,2,3,8}
type(s)

set

In [35]:
d={1:"sunil",2:"alex",3:"bob",4:"jai"}
print(d)

{1: 'sunil', 2: 'alex', 3: 'bob', 4: 'jai'}

In [36]:
print(d[2])

alex

In [40]:
print(d[2],d[3])

alex bob

In [47]:
s=(1,2,3,4,5,6,7)
print(s)

(1, 2, 3, 4, 5, 6, 7)

In [48]:
print(s[3])

4

In [49]:
print(s[6])

7

In [50]:
print(s[0])

1

In [51]:
a=96
b=30
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

126
66
2880
3.2
3
6
293857643230705789924602253011959679180763352848028953214976